body {
  font-family: "Poppins", sans-serif;
  background-color: #3E3E3E;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  display: inline;
  justify-content: left;
}

.login {
  position: absolute;
  min-width: 30%;
  max-width: 100%;
  height: 100%;
  background: rgb(37, 37, 37, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  margin: 0px 0px 100px 0px;
  padding-top: 200px;
}

h2 {
  margin: 0 0 90px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 25px;
}


.inputs-login {
  position: relative;
  margin: 10px 10px 50px 10px;
  font-weight: bold;
}

.inputs-login input {
  min-width: 50%;
  max-width: 100%;
  display: block;
  padding: 10px 10px 10px 10px;
  margin: 0px 30px 30px 70px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: #252525;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  margin: -20px 30px 50px 70px;
  font-size: 16px;
  color: #ffff;
  pointer-events: none;
  transition: .5s;
}

input:focus~label,
input:focus~label {
  top: -10px;
  left: 0;
  font-size: 12px;
}

#user,
#password {
  width: 250px;
  height: 30px;
  border-radius: 10px;
}

.btn {
  background-color: #252525;
  color: white;
  font-weight: bold;
  width: 200px;
  height: 40px;
  margin: 10px 10px 10px 0px;
}

.btn:hover {
  background-color: whitesmoke;
  color: #3E3E3E;
  cursor: pointer;
}

#math{
  font-size: 11px;
  margin-top: 80px;
}

#carla{
  font-size: 11px;
}


/* h1{
    font-family:'Press Start 2P', cursive;
    color: black;
    display: flex;
    justify-content: right;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
  }
@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: black;
  }

  to {
    border-color: transparent;
  }
} */
