body {
  font-family: "Poppins", sans-serif;
  background-color: #3E3E3E;
  background-image: url(images/ps.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  margin: 0;
  padding: 0;
  display: inline;
}

#form {
  border: solid 1px #252525;
  background-color: rgb(37, 37, 37, 0.8);
  width: 35vw;
  height: 100vh;
  justify-content: center;
}

h2 {
  margin: 200px 0 80px 0;
}


#user,
#password {
  position: relative;
  width: 60%;
  height: 35px;
  margin: 10px 0 30px 0;
  border: none;
  border-bottom: solid 1px whitesmoke;
  border-radius: 3px;
  background-color: rgb(37, 37, 37, 0.9);
  color: whitesmoke;
  font-size: 17px;
}

label {
  margin: -20px 0 -15px -320px;
  position: absolute;
  color: #ffff;
  pointer-events: none;
  transition: .5s;
  font-size: 16px;
}

input:focus~label,
input:focus~label {
  margin: -15px 0 -10px -320px;
  font-size: 12px;
}

#btn {
  font-weight: bold;
  width: 40%;
  height: 30px;
  margin-top: 50px;
  background-color: #252525;
  color: whitesmoke;
}

#btn:hover {
  background-color: whitesmoke;
  color: #252525;
  cursor: pointer;
}


/* h1{
    font-family:'Press Start 2P', cursive;
    color: black;
    display: flex;
    justify-content: right;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
  }
@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: black;
  }

  to {
    border-color: transparent;
  }
} */